* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    min-height: 100vh;
 color: #080808f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    background-color: #fefefe;
  }
  img {
    max-width: 80%;
    border-radius: 0.5rem;
  }
  p {
    font-size: 1.1rem;
  }
  #location {
    color: grey;
    font-size: 0.9rem;
  }
  @media (max-width: 640px) {
    img {
      max-width: 100%;
    }
  }